.btn {
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 10px 25px;
  //align-items: center;
  //justify-content: center;
  text-decoration: none;
  //display: flex;
  //font-size: 16px;
  //margin-right: 0.5rem;
  cursor: pointer;
  outline: none;
  background-color: var(--surface3);
  height: fit-content;
}
.positive-btn {
  @extend .btn;
  background-color: #4CAF50;
}

.negative-btn {
  @extend .btn;
  background-color: #f44336;
}

.regular-btn {
  @extend .btn;
  background-color: #457b9d;
}



.scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.scroll-btn:hover {
  background-color: darkgreen;
}

.btn-switch {
  background-color: var(--surface3);
  opacity: 0.7;
}

.btn-switch.active {
  color: red;
  opacity: initial;
  font-weight: bold;
}

.btn-content {
  height: fit-content;
  outline: none;
  background: none;
  cursor: pointer;
  border: none;
}
.close-btn {
  @extend .btn-content;
}