:root {
  --primary: hsla(158, 47%, 48%, 1);//#41b38a;
  --primary-light: hsla(156, 69%, 68%, 1);//#77e6b9
  --primary-dark: hsla(162, 100%, 26%, 1);//#00835c
  --text1: hsla(240, 5%, 71%, 1);//#b1b1b9
  --text2: hsla(351, 30%, 9%, 1);//#1e1012
  --background: hsla(231, 37%, 4%, 1);//#06070d
  --surface1: hsla(0, 0%, 12%, 1);
  --surface2: hsla(0, 0%, 17%, 1);
  --surface3: hsla(0, 0%, 12%, 1);
  --surface4: hsla(0, 0%, 27%, 1);
  --surface5: hsla(0, 0%, 32%, 1);
  --surface-shadow: var(--surface-shadow-black);
  --shadow-strength: var(--shadow-strength-black);
  --error: hsla(349, 52%, 61%, 1);//#cf6679
}

/* Switcher */

.switcher__radio {
  filter: invert(1);
}

.switcher__radio:checked {
  filter: invert(0);
}

.switcher__status {
  filter: invert(1);
}