:root {
  margin-left: calc(100vw - 100%);
  overflow-x: hidden;
  overflow-y: initial;
  //min-height: 100%;
  height: 100vh;
  font-size: 20px;
}
body {
  width: 100%;
  height: 100vh;
  //min-height: 100%;
}
#app {
  min-height: 100%;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #888;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}