:root {
  /* set defaults */
  --primary: hsla(158, 47%, 48%, 1);//#41b38a
  --primary-light: hsla(156, 69%, 68%, 1);//#77e6b9
  --primary-dark: hsla(162, 100%, 26%, 1);//#00835c
  --secondary: hsla(267, 95%, 76%, 1);//#bb86fc
  --secondary-light: hsla(287, 100%, 86%, 1);//#efb7ff
  --secondary-dark: hsla(266, 50%, 56%, 1);//#8858c8
  --text1: hsla(158, 45%, 69%, 1);//#8bd3b8
  --text2: hsla(155, 64%, 28%, 1);//#1a764f
  --background: white;
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface5: var(--surface5-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --error: hsla(349, 100%, 35%, 1);//#b00020
}

/* Switcher */

.switcher__radio {
  filter: invert(0);
}

.switcher__radio:checked {
  filter: invert(1);
}

.switcher__status {
  filter: invert(0);
}