@import 'tooltips.scss';
@import 'buttons.scss';

*:not(p) {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
ul {
  list-style-type: none; /* Remove bullets */
}
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  height: 100%;
}
body, #app, .basement {
  width: 100%;
  height: 100%;
  min-width: 360px;
}
:root {
  --hue-p: 180;
  --hue-s: 265;

  --color: #000000;
  --color-2: #FFFFFF;
  --color-p: #018786; //primary #018786
  --color-s: #6200ee; //secondary #6200ee

  --background: hsla(0, 0%, 100%, 1);
  --background-2: hsla(217, 46%, 37%, 1);
  --background-3: #018786;
  --background-picante: hsla(350, 100%, 88%, 1);
  --background-parent: hsla(42, 35%, 9%, 1);


  --enabled: hsla(0, 0%, 70%, 1);
  --enabled-2: hsla(217, 46%, 67%, 1);
  --hovered: hsla(0, 0%, 80%, 1);
  --hovered-2: hsla(217, 46%, 57%, 1);
  --focused: #121212;
  --pressed: #111111;
  --error: hsla(349, 100%, 35%, 1);
  --disabled: #00000059; //opacity 35
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: hsla(0, 0%, 100%, 1);
    --color-p: hsla(var(--hue-p), 42%, 65%, 1); //#80cbc4
    --color-s: hsla(var(--hue-s), 83%, 66%, 1); //f06292

    --background: hsla(0, 0%, 7%, 1);
    --background-2: hsla(0, 0%, 15%, 1);
    --background-3: hsla(0, 0%, 30%, 1);
    --background-picante: linear-gradient(to right, #262626, #2c2c2c, #333333, #393939, #404040);

    --enabled: #1B1B1B;
    --hovered: #2E2E2E;
    --hovered-picante: linear-gradient(to right, #262626, #353535, #454545, #555555, #666666);
    --hovered-parent: hsl(35, 42%, 18%, 1);
    --focused: #121212;
    --pressed: #111111;
    --error: #CF6679;
    --diabled: #FFFFFF59; //opacity 35
  }
  .btn-content {
    .icon {
      fill: hsla(0, 0%, 100%, 1);
    } ;
  }
}

body {
  color: var(--color);
  background-color: var(--background);
  --duration: 0.5s;
  --timing: ease;

  transition: color var(--duration) var(--timing),
  background-color var(--duration) var(--timing);
}

img {
  max-width: 100%;
  display: block;
}

input {
  outline: none;
}

.theme-light {
  --body-color: #ECEFF1;
  --antiBody-color: #263238;
  --shared-primary-color: #1565C0;
  --shared-secondary-color: #EF6C00;
  --shared-error-color: #C62828;
  --shared-default-color: #9E9E9E;
  --shared-disabled-color: #E0E0E0;
  --text-lvl1-color: #263238;
  --text-lvl3-color: #546E7A;
  --text-lvl5-color: #78909C;
  --text-lvl7-color: #B0BEC5;
  --text-lvl9-color: #ECEFF1;
}

.theme-dark {
  --body-color: #263238;
  --antiBody-color: #ECEFF1;
  --shared-primary-color: #90CAF9;
  --shared-secondary-color: #FFE0B2;
  --shared-error-color: #FFCDD2;
  --shared-default-color: #BDBDBD;
  --shared-disabled-color: #616161;
  --text-lvl1-color: #ECEFF1;
  --text-lvl3-color: #B0BEC5;
  --text-lvl5-color: #78909C;
  --text-lvl7-color: #546E7A;
  --text-lvl9-color: #263238;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto {
    --background-color: #111;
    --text-color: #f3f3f3;
  }
}
@media (prefers-color-scheme: light) {
  body.theme-auto {
    --background-color: #f3f3f3;
    --text-color: #111;
  }
}

//form
.label {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  flex-flow: row wrap;
  .title {
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .value {
    width: 100%;
    padding: 5px 10px;
    color: var(--color);
    background-color: var(--background);
  }
}
//form

//table block
.table {
  //table-layout: fixed;
  width: 100%;
  border: 1px solid;
  color: var(--color);
  border-color: var(--border-color);

  thead {
    border-bottom: 1px solid;
    border-color: inherit;
  }

  //background: #2b2b2b;
  border-collapse: collapse;
  line-height: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  .th {
    font-size: 1.2rem;
    line-height: normal;
    padding: 0.5rem;
    position: sticky;
    top: -1px;
    background-color: var(--background);
  }

  th, td {
    text-align: center;
  }

  .table-cell {
    display: inline-flex;

    .td-title {
      margin-right: 0.75rem;
    }

    .td-action {
      position: relative;
      cursor: pointer;

      .icon {
        fill: var(--color-p);
        background-color: var(--background-2);
      }

      //.sort-up, .sort-down {
      //  position: absolute;
      //  width: 0.7rem;
      //  height: 0.7rem;
      //  fill: var(--color-p);
      //}

      .sort-up {
        top: 0;
      }

      .sort-down {
        bottom: 0;
      }
    }
  }

  .table-cell.active {
    .td-action {
      .icon {
        fill: var(--color-s);
      }
    }
  }

  .row {
    display: table-row;
    //background: #f6f6f6;
    cursor: pointer;
    line-height: inherit;
    border-bottom: 1px solid;
    border-bottom-color: inherit;

    .td {
      padding: 1rem;
      line-height: inherit;
      //word-break: break-all;
    }

    &:nth-of-type(odd) {
      //background: #e9e9e9;
    }
  }

  .row:hover {
    background: var(--hovered);
  }

  .row.picante {
    background: var(--background-picante);
  }

  .row.parent {
    background: var(--background-parent);
  }

  .row.picante:hover {
    background: var(--hovered-picante);
  }

  .row.parent:hover {
    background: var(--hovered-parent);
  }

  .table-icon {
    width: 1rem;
    height: 1rem;
  }

}
.dark-mode .table {
  .th {
    color: var(--color-p);
    fill: var(--color-p);
  }
}

.table-paginator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  .paginator--desktop, .paginator--mobile {
    margin-right: 0.5rem;
  }

  .paginator--mobile {
    display: flex;
    flex-flow: row nowrap;
  }

  .table-pag__btn {
    margin-right: 0.5rem;
  }

  .active-page {
    background-color: var(--background-3);
  }

  .not-allowed {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .table-pag__btn:last-of-type {
    margin-right: 0;
  }
}
//table block

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 1rem;
  width: 1rem;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 892px) {
  .table-paginator {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 892px) and (orientation: landscape) {

}

@media only screen and (max-width: 892px) and (orientation: portrait) {

}