.table {
  width: 100%;
  //border: 1px solid;
  color: var(--text);
  background-color: var(--surface);
  //border-color: hsl(var(--brand-hue), 85%, 75%, 50%);
  border-collapse: collapse;
  line-height: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  .thead {
    border-bottom: 1px solid;
    border-color: inherit;
    position: sticky;
    z-index: 21;
    top: 0;
  }

  .th {
    font-size: 1.2rem;
    line-height: normal;
    padding: 0.5rem;
    background-color: var(--surface-dark);
    color: var(--text-primary);
  }

  th, td {
    text-align: center;
  }

  .table-cell {
    display: inline-flex;

    .td-title {
      margin-right: 0.5rem;
      display: flex;
      align-items: center;
    }

    .td-action {
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid var(--secondary-light);
      border-radius: 5px;
      padding: 3px;
      .icon {
        fill: var(--secondary-light);
      }
      .sort-up {
        top: 0;
      }

      .sort-down {
        bottom: 0;
      }
    }
  }

  .table-cell.active {
    .td-title {
      color: var(--primary);
    }
    .td-action {
      border: 1px solid var(--primary);
      .icon {
        fill: var(--primary);
      }
    }
  }

  .row {
    display: table-row;
    //background: #f6f6f6;
    cursor: pointer;
    line-height: inherit;
    border-bottom: 1px solid;
    border-bottom-color: inherit;

    .td {
      padding: 1rem;
      line-height: inherit;
      //word-break: break-all;
    }

    &:nth-of-type(odd) {
      //background: #e9e9e9;
    }
  }

  .row:hover {
    background: var(--surface-light);
  }

  .row.picante {
  }

  .row.picante:hover {
  }

  .table-icon {
    width: 1rem;
    height: 1rem;
  }

}

.table-paginator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-radius: 0 0 5px 5px;

  .paginator--desktop, .paginator--mobile {
    margin-right: 0.5rem;
  }

  .paginator--mobile {
    display: flex;
    flex-flow: row nowrap;
  }

  .table-pag__btn {
    margin-right: 0.5rem;
    min-width: 50px;
  }

  .active-page {
    background-color: var(--background-3);
  }

  .not-allowed {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .table-pag__btn:last-of-type {
    margin-right: 0;
  }
}