//@media (prefers-color-scheme: no-preference) {
//  :root {
//    /* set defaults */
//    --primary: hsla(158, 47%, 48%, 1);//#41b38a
//    --primary-light: hsla(156, 69%, 68%, 1);//#77e6b9
//    --primary-dark: hsla(162, 100%, 26%, 1);//#00835c
//    --secondary: hsla(267, 95%, 76%, 1);//#bb86fc
//    --secondary-light: hsla(287, 100%, 86%, 1);//#efb7ff
//    --secondary-dark: hsla(266, 50%, 56%, 1);//#8858c8
//    --text1: hsla(158, 45%, 69%, 1);//#8bd3b8
//    --text2: hsla(155, 64%, 28%, 1);//#1a764f
//    --background: white;
//    --surface1: var(--surface1-light);
//    --surface2: var(--surface2-light);
//    --surface3: var(--surface3-light);
//    --surface4: var(--surface4-light);
//    --surface5: var(--surface5-light);
//    --surface-shadow: var(--surface-shadow-light);
//    --shadow-strength: var(--shadow-strength-light);
//    --error: hsla(349, 100%, 35%, 1);//#b00020
//  }
//}
//
//@media (prefers-color-scheme: dark) {
//  :root {
//    --primary: hsla(158, 47%, 48%, 1);//#41b38a;
//    --primary-light: hsla(156, 69%, 68%, 1);//#77e6b9
//    --primary-dark: hsla(162, 100%, 26%, 1);//#00835c
//    --text1: hsla(240, 5%, 71%, 1);//#b1b1b9
//    --text2: hsla(351, 30%, 9%, 1);//#1e1012
//    //--background: hsla(0, 0%, 7%, 1);//#121212
//    --background: hsla(231, 37%, 4%, 1);//#06070d
//    --surface1: hsla(0, 0%, 12%, 1);
//    --surface2: hsla(0, 0%, 17%, 1);
//    --surface3: hsla(0, 0%, 12%, 1);
//    --surface4: hsla(0, 0%, 27%, 1);
//    --surface5: hsla(0, 0%, 32%, 1);
//    --surface-shadow: var(--surface-shadow-black);
//    --shadow-strength: var(--shadow-strength-black);
//    --error: hsla(349, 52%, 61%, 1);//#cf6679
//  }
//}

:root {
  color-scheme: light-theme;

  --primary: hsla(158, 47%, 48%, 1);//#41b38a
  --primary-light: hsla(156, 69%, 68%, 1);//#77e6b9
  --primary-dark: hsla(162, 100%, 26%, 1);//#00835c
  --secondary: hsla(267, 95%, 76%, 1);//#bb86fc
  --secondary-light: hsla(287, 100%, 86%, 1);//#efb7ff
  --secondary-dark: hsla(266, 50%, 56%, 1);//#8858c8
  --text1: hsla(158, 45%, 69%, 1);//#8bd3b8
  --text2: hsla(155, 64%, 28%, 1);//#1a764f
  --background: white;
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface5: var(--surface5-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --error: hsla(349, 100%, 35%, 1);//#b00020
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

        --primary: hsla(158, 47%, 48%, 1);//#41b38a;
        --primary-light: hsla(156, 69%, 68%, 1);//#77e6b9
        --primary-dark: hsla(162, 100%, 26%, 1);//#00835c
        --text1: hsla(240, 5%, 71%, 1);//#b1b1b9
        --text2: hsla(351, 30%, 9%, 1);//#1e1012
        --background: hsla(231, 37%, 4%, 1);//#06070d
        --surface1: hsla(0, 0%, 12%, 1);
        --surface2: hsla(0, 0%, 17%, 1);
        --surface3: hsla(0, 0%, 12%, 1);
        --surface4: hsla(0, 0%, 27%, 1);
        --surface5: hsla(0, 0%, 32%, 1);
        --surface-shadow: var(--surface-shadow-black);
        --shadow-strength: var(--shadow-strength-black);
        --error: hsla(349, 52%, 61%, 1);//#cf6679
  }
}

[color-scheme="light-theme"] {
  color-scheme: light;

      --primary: hsla(158, 47%, 48%, 1);//#41b38a
      --primary-light: hsla(156, 69%, 68%, 1);//#77e6b9
      --primary-dark: hsla(162, 100%, 26%, 1);//#00835c
      --secondary: hsla(267, 95%, 76%, 1);//#bb86fc
      --secondary-light: hsla(287, 100%, 86%, 1);//#efb7ff
      --secondary-dark: hsla(266, 50%, 56%, 1);//#8858c8
      --text1: hsla(158, 45%, 69%, 1);//#8bd3b8
      --text2: hsla(155, 64%, 28%, 1);//#1a764f
      --background: white;
      --surface1: var(--surface1-light);
      --surface2: var(--surface2-light);
      --surface3: var(--surface3-light);
      --surface4: var(--surface4-light);
      --surface5: var(--surface5-light);
      --surface-shadow: var(--surface-shadow-light);
      --shadow-strength: var(--shadow-strength-light);
      --error: hsla(349, 100%, 35%, 1);//#b00020
}

[color-scheme="dark-theme"] {
  color-scheme: dark;

      --primary: hsla(158, 47%, 48%, 1);//#41b38a;
      --primary-light: hsla(156, 69%, 68%, 1);//#77e6b9
      --primary-dark: hsla(162, 100%, 26%, 1);//#00835c
      --text1: hsla(240, 5%, 71%, 1);//#b1b1b9
      --text2: hsla(351, 30%, 9%, 1);//#1e1012
      //--background: hsla(0, 0%, 7%, 1);//#121212
      --background: hsla(231, 37%, 4%, 1);//#06070d
      --surface1: hsla(0, 0%, 12%, 1);
      --surface2: hsla(0, 0%, 17%, 1);
      --surface3: hsla(0, 0%, 12%, 1);
      --surface4: hsla(0, 0%, 27%, 1);
      --surface5: hsla(0, 0%, 32%, 1);
      --surface-shadow: var(--surface-shadow-black);
      --shadow-strength: var(--shadow-strength-black);
      --error: hsla(349, 52%, 61%, 1);//#cf6679
}

.brand {
  color: var(--brand);
  background-color: var(--brand);
}

.surface1 {
  background-color: var(--surface1);
  color: var(--text2);
}

.surface2 {
  background-color: var(--surface2);
  color: var(--text2);
}

.surface3 {
  background-color: var(--surface3);
  color: var(--text1);
}

.surface4 {
  background-color: var(--surface4);
  color: var(--text1);
}

.text1 {
  color: var(--text1);
}

.text2 {
  color: var(--text2);
}

.swatch {
  display: inline-block;
  flex-shrink: 0;
  inline-size: 1.5ch;
  block-size: 1.5ch;
  border-radius: 50%;

  &.text1 { background-color: var(--text1); }
  &.text2 { background-color: var(--text2); }
}

.rad-shadow {
  border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
  box-shadow: 0 1rem .5rem -.5rem;
  box-shadow:
          0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
          0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .01)),
          0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
          0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
          0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
          0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength))
;
}