@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
  :root {
    --primary: hsla(232, 54%, 41%, 1);//#303f9f
    --primary-light: hsla(238, 54%, 61%, 1); //#666ad1
    --primary-dark: hsla(227, 100%, 22%, 1); //#001970
    --secondary: hsla(180, 99%, 27%, 1); //#018786
    --secondary-light: hsla(282, 60%, 58%, 1); //#ae52d4
    --secondary-dark: hsla(279, 100%, 22%, 1); //#4a0072
    --text: #000;
    --text-primary: #fff;
    --text-secondary: #fff;
    --background: #fff;
    --background-second: radial-gradient(ellipse at top left, hsla(208, 46%, 60%, 1) 0%, hsla(213, 31%, 78%, 1));
    --background-book: hsla(45, 41%, 60%, 1);// #C3AE6F;
    --surface: hsla(0, 0%, 96%, 1);
    --surface-light: hsla(0, 0%, 80%, 1); // #1e1e1e
    --surface-dark: hsla(0, 2%, 40%, 1); // #1e1e1e
    --error: hsla(349, 100%, 35%, 1); //#b00020
    --primary-on: hsla(268, 100%, 78%, 1); // #c38fff
    --secondary-on: #000;
    --background-on: hsla(208, 46%, 90%, 1);
    --surface-on: #000;
    --error-on: hsla(349, 100%, 55%, 1); //#b00020
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: hsla(162, 100%, 26%, 1); //#00855d
    --primary-light: hsla(238, 54%, 61%, 1); //#666ad1
    --primary-dark: hsla(227, 100%, 22%, 1); //#001970
    --secondary: hsla(282, 68%, 38%, 1); //#7b1fa2
    --secondary-light: hsla(282, 60%, 58%, 1); //#ae52d4
    --secondary-dark: hsla(279, 100%, 22%, 1); //#4a0072
    --text: #ffffff;
    --text-primary: #fff;
    --text-secondary: #fff;
    --background: hsla(0, 0%, 7%, 1);// #121212
    --background-second: radial-gradient(ellipse at top left, hsla(208, 46%, 60%, 1) 0%, hsla(213, 31%, 78%, 1));
    --background-book: transparent;
    --surface: hsla(0, 0%, 12%, 1); // #1e1e1e
    --surface-light: hsla(0, 0%, 25%, 1); // #1e1e1e
    --surface-dark: hsla(0, 0%, 0%, 1); // #1e1e1e
    --error: hsla(349, 52%, 61%, 1); //#cf6679
    --primary-on: hsla(162, 100%, 46%, 1);
    --secondary-on: hsla(282, 68%, 60%, 1);
    --background-on: hsla(0, 0%, 69%, 1); //#b1b1b1
    --surface-on: hsla(0, 0%, 89%, 1); //#e2e2e2
    --error-on: hsla(349, 100%, 35%, 1); //#b00020
  }
}
//@media (prefers-color-scheme: dark) {
//  :root {
//    --primary: white;
//    --primary-variant: white;
//    --secondary: white;
//    --secondary-variant: white;
//    --background: white;
//    --surface1: white;
//    --error: hsla(349, 100%, 35%, 1); //#b00020
//    --primary-on: white;
//    --secondary-on: white;
//    --background-on: white;
//    --surface1-on: white;
//    --error-on: hsla(349, 100%, 35%, 1); //#b00020
//  }
//
//}